@{
    ViewBag.Title = "EmailEnviado";
}

<h2 class="titulo">Email Enviado</h2>

<div>
    <h1>Te hemos enviado un email, revisa tu bandeja de entrada</h1>

    <br />
    @Html.ActionLink("Volver al home.", "index", "home")
</div>