.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* @clearing */

/* ---------------------------------------------------------------------------------------- */

.clearfix::after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
}

.clear {
  clear: both;
}

h1.main-logo span {
  display: block;
  text-indent: -999999999px;
}

h2,
h3,
h4,
h5 {
  line-height: 100%;
  text-align: center;
  font-weight: 100;
}

h3 {
  font-family: 'PFEncoreSansPro-Light';
  font-size: 35px;
  color: #61dafb;
}

h4 {
  font-family: 'PFEncoreSansPro-Bold';
  font-size: 16px;
  color: #3e4851;
  line-height: 22px;
}

h4 a {
  color: #292929;
}

p {
  font-family: 'PFEncoreSansPro-Light';
  font-size: 14px;
  line-height: 20px;
  color: #666;
  font-weight: 100;
}

strong {
  font-weight: bold;
  font-weight: 900;
  font-size: 110%;
}

.extra-margin {
  margin-top: 30px;
}

.uppercase {
  text-transform: uppercase;
}

.opacity {
  opacity: 0.6;
}

section {
  width: 100%;
}
