@import './common.scss';

.app {
  text-align: center;
}

.app-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-spin infinite 20s linear;
  }
}

.app-home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-link {
  color: $uceme-orange;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* @clearing */

/* -------------------------------------------- */

.clearfix::after {
  visibility: hidden;
  display: block;
  content: ' ';
  clear: both;
}

.clear {
  clear: both;
}

.clearboth {
  clear: both;
}

h1.main-logo span {
  display: block;
  text-indent: -999999999px;
}

h2,
h3,
h4,
h5 {
  @include heading-base;
}

h3 {
  font-size: $font-size-xl;
  color: $uceme-green;
}

h4 {
  font-size: $font-size-lg;
  color: $uceme-gray;
  line-height: 22px;

  a {
    color: #292929;
  }
}

p {
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $uceme-text;
  font-weight: 100;
}

strong {
  font-weight: 900;
  font-size: 110%;
}

.extra-margin {
  margin-top: $spacing-lg;
}

.extra-padding {
  padding-top: $spacing-lg;
}

.uppercase {
  text-transform: uppercase;
}

.opacity {
  opacity: 0.6;
}

section {
  width: 100%;
}

.color-green {
  color: $uceme-green;
}

.color-orange {
  color: $uceme-orange;
}

.color-gray {
  color: $uceme-gray;
}

.submit-button {
  background-color: $uceme-orange;
  font-size: smaller;
}
