@model IEnumerable<UCEME.Models.Faq>

@{
    ViewBag.Title = "Preguntas Frecuentes";
}

<h2 class="titulo">Dudas frecuentes en el paciente</h2>
@if (Request.IsAuthenticated)
{

    <div class="botones" style="width: 350px;">
        <input type="button" style="float: left; margin-left: 0;" name="editar" id="editar" class="editar" value=" " />
    </div>
}
<br />
<br />
<br />
<div id="contenedor">
    @Html.DisplayFor(model => model)
</div>

@section scripts {
    <script src="~/Scripts/Internal/Faq/Index.js"async></script>
}