@model IEnumerable<Uceme.Model.Models.ClasesVista.FotosVista>

    @{
        ViewBag.Title = "Galeria de Imagenes";
    }
    <link href="~/Content/lightbox/lightbox.css" rel="stylesheet" />
    <h2 class="titulo">Galería de imágenes</h2>
    <br />
    @if (Request.IsAuthenticated)
    {
        <div>
            <div class="botones" style="float: right;">
                <input type="button" class="nuevo" name="subirFoto" id="subirFoto" />
            </div>
        </div>
        <br />
        <div id="dialogo" style="display: none;">
            @using (Html.BeginForm("Subir", "Fotos", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <fieldset style="border: none">
                    <legend></legend>
                    <br />
                    <h3>&nbsp;&nbsp;Seleccione una Foto:</h3>
                    <input type="file" name="fichero" id="fichero" style="width: 625px;" />

                    <br />
                    <h3>&nbsp;Descripción:</h3>
                    <input type="text" id="descripcion" name="descripcion" style="width: 800px" />
                    <br />
                    <div class="botones" style="width: 350px;">
                        <input class="aceptar" style="float: left; margin-left: 0;" type="submit" value=" " />
                        <input class="cancelar" style="float: left; margin-left: 10px;" type="button" onclick="mediaManager.cancelarDialogo()" value=" " />
                    </div>

                    <br />
                </fieldset>
            }
            <br />
        </div>
        <br />
    }
    <br />
    <div id="contenedor">
        @foreach (var item in Model)
        {
            @Html.DisplayFor(modelItem => item, "FotosVista")
        }
        <div class="clearboth"></div>
    </div>
    <br />
    <div id="loading"></div>

    @section scripts {
        @*<script type="text/javascript" src="~/Scripts/lightbox/js/jquery-1.7.2.min.js"async></script>*@
        <script src="~/Scripts/lightbox/lightbox.min.js" async></script>
        @*<script type="text/javascript" src="~/Scripts/lightbox/js/lightbox.js"async></script>*@
        <script src="~/Scripts/Internal/Fotos/Index.js" async></script>
    }
