.header-distance {
  margin-top: 100px;
}

/* @clearing */

/* -------------------------------------------- */

.clearfix::after {
  visibility: hidden;
  display: block;
  content: ' ';
  clear: both;
}

.clear {
  clear: both;
}
