@{
    ViewBag.Title = "errorRecovery";
}

<h2 class="titulo">Error en recovery</h2>

<div style="left:400px;width:400px;top:400px;position:absolute">
    <h1 class="titulo">El email recibido no es valido o ha caducado</h1>

    <br />
    @Html.ActionLink("Volver a la pagina principal", "index", "home")
</div>