@model IEnumerable<Uceme.Model.Models.ClasesVista.DocumentosVista>

@{
    ViewBag.Title = "Documentos";

}
<h2 class="titulo" style="width:auto;">Documentos con informacion relevante para el paciente</h2>
<br />
@if (Request.IsAuthenticated)
{
    <div class="botones" style="float: right;">
        <input type="button" class="nuevo" name="subirDocu" id="subirDocu" value=" " />
    </div>
    <br />

}
<div id="dialogo" style="display: none;">

    @using (Html.BeginForm("Subir", "Documentos", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        <br />
        <h3>Seleccione un documento:</h3>
        <input type="file" name="fichero" id="fichero" style="width: 625px;" />
        <br />
        <h3>Título:</h3>
        <input type="text" name="titulo" id="titulo" />
        <br />
        <div class="botones" style="width: 350px;">
            <input class="aceptar" style="float: left; margin-left: 0;" type="submit" value=" " />
            <input id="cancelDocumentUpload" class="cancelar" style="float: left; margin-left: 10px;" type="button" value=" " />
        </div>
        <br />

    }
</div>
<br />
<br />

@Html.DisplayFor(model => model)

@section scripts {
    <script src="~/Scripts/Internal/Documentos/Index.js"async></script>
}