@model Uceme.Model.Models.ClasesVista.TecnicaVista

@{
    ViewBag.Title = "TecnicaVista";
    var idel = "d" + Model.IdTecnica;
    var id = Model.IdTecnica;
    var imagen = "nada";
    if (!string.IsNullOrEmpty(Model.Foto))
    {
        var srt = Model.Foto;
        imagen = Url.Content(srt);
    }

}

<div class="row articulobox">
    <div class="col-xs-10 col-md-10 col-xs-offset-1 col-md-offset-1">
        <div class="cont">
            <div class="sombra">
                <div class="col-xs-8 col-md-5 col-xs-offset-1 col-md-offset-1">
                    <img src="@imagen" class="img-responsive borderline" alt="Responsive image">
                </div>
                <div style="clear:both;"></div>
                <h3 class="rojito">@Html.DisplayFor(model => model.Titulo)</h3>

                <div class="text-justify tecnicastext">@Html.Raw(Model.Texto)</div>
                <br />
                <br />
            </div>
        </div>
        @if (Request.IsAuthenticated)
        {
            <div class="botones" style="width: 350px;">
                <input type="button" style="float:left;margin-left:20px;" name="editar" id="editar" class="editar" onclick="manager.editarItem(@id)" value=" " />
                <input type="button" style="float:left;margin-left:20px;" id="@idel" onclick="manager.borrarItem(@id)" class="eliminar" value=" " />
            </div>
        }
    </div>
    <br />
    <br />
</div>
<div class="clearboth"></div>