@model Uceme.Model.Models.ClasesVista.TecnicaVista

@{
    ViewBag.Title = "Editar";
    var srt = Model.Foto;
    var imagen = Url.Content(srt);
}

@using (Html.BeginForm("Editar", "Tecnicas", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.IdTecnica)
    <h3 style="text-align: center;">Título: @Html.EditorFor(model => model.Titulo, "StringMed")</h3>
    <h5>Imagen (200x200):</h5>
    <img src="@imagen" style="margin-right:10px;width:200px;height:200px;" alt="imagen" />
    <input type="file" id="fichero" name="fichero" title="Cambiar Foto" style="width: 625px;" />
    <h5>Texto:</h5>
    @Html.EditorFor(model => model.Texto)

    <div class="botones" style="width: 350px;">
        <input class="aceptar" style="float: left; margin-left: 0px;" type="submit" value=" " />
        <input class="cancelar" style="float: left; margin-left: 10px;" type="button" onclick="refrescar('tecnicas')" value=" " />
    </div>

}
<br />
<br />