@model IEnumerable<Uceme.Model.Models.ClasesVista.VideosVista>
    @{
        ViewBag.Title = "Videos";
        const string texto1 = "<iframe width=400 height=225 src=\"http:";
        const string texto2 = "\" frameborder=0 allowfullscreen</iframe>";
    }
    <h2 class="titulo">Videos</h2>
    <br />
    @if (Request.IsAuthenticated)
    {

        <div class="botones" style="float: right;">
            <input type="button" class="nuevo" name="subirVideo" id="subirVideo" />
        </div>
        <br />
        <div id="dialogo" style="display: none;">

            @using (Html.BeginForm("Subir", "Videos", FormMethod.Post))
            {
                <h3>Link:</h3> @Html.Label("(Pegar la parte correspondiente)")
                <h4>@texto1<input id="nuevoLink" name="nuevoLink" type="text" title="Pegar la parte correspondiente aquí (desde // sin poner las comillas del final. Ejemplo: //www.youtube.com/embed/bZI_f9Skwqw?feature=player_detailpage)" />@texto2</h4>
                <h3>Título:</h3>
                <input type="text" id="nuevoTitulo" name="nuevoTitulo" />
                <h3>Descripción:</h3>
                <input type="text" id="nuevaDescripcion" name="nuevaDescripcion" style="width: 700px" />

                <div class="botones" style="width: 350px;">
                    <input class="aceptar" style="float: left; margin-left: 0;" type="submit" value="" />
                    <input class="cancelar" style="float: left; margin-left: 10px;" type="button" onclick="mediaManager.cancelarDialogo()" />
                </div>

                <br />
            }
            <br />
        </div>

    }

    <br />

    <div id="contenedor">
        @foreach (var item in Model)
        {
            @Html.DisplayFor(modelItem => item, "VideosVista")
        }
        <div style="clear:both"></div>
    </div>
    <br />
    <div id="loading"></div>

    @section scripts {
                      <script src="~/Scripts/Internal/Videos/Index.js"></script>
    }