@model IEnumerable<UCEME.Models.ClasesVista.BlogVista>

@{
    ViewBag.Title = "Blog";
}

<br />

@if (Request.IsAuthenticated)
{
    <div class="botones" style="float: right;">
        <input type="button" class="nuevo" name="addSer" onclick="manager.anadir()" />
    </div>
    <br />
}
<div id="contenedor">
    @Html.DisplayFor(model => model)
</div>

@section scripts {
<script src="~/Scripts/Internal/Blog/Index.js"async></script>
}