@model UCEME.Models.Faq

@{
    Layout = null;
    var idel = Model.idFaq;
}
<div id="elemento">
    <div class="display-label">
        @Html.HiddenFor(model => model.idFaq)
    </div>

    <label>Pregunta:</label>
    <div class="display-label" style="width: 80%; height: 40px; background-color: #e2e2e2; margin-bottom: 15px;">
        &nbsp;&nbsp;&nbsp;@Html.EditorFor(model => model.titulo)
    </div>

    <label>Respuesta:</label>
    <div class="display-field" style="width: 80%; height: 120px; background-color: wheat;">
        &nbsp;&nbsp;&nbsp;@Html.EditorFor(model => model.texto, "StringLarga")
    </div>
    <div class="botones" style="width: 350px; background-color: wheat; width: 80%; height:60px;">
        <input type="button" style="float: left; margin-left: 10px;" id="@idel" onclick="manager.borrarItem(@idel)" class="eliminar"/>
    </div>

    <br />
</div>