@import '../../variables.scss';

.padding-top {
  padding-top: 1.5em;
}

img {
  display: inline-block;
  margin: 0 auto;
  font-style: italic;
  color: #666;
  vertical-align: middle;
}

img,
audio,
canvas,
embed,
object,
video {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.125em;
  margin-top: 0;
  margin-bottom: 0.25em;
  line-height: 1.2;
}

.section--centered {
  display: table;
  width: 100%;
}

.section--centered > .section__container {
  display: table-cell;
  vertical-align: middle;
}

.section--cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 62em) {
  .test--csstransforms .section__content--animated {
    opacity: 0;
  }

  .test--csstransforms .section--in-view .section__content--animated {
    -webkit-animation-name: fadein;
    -moz-animation-name: fadein;
    -o-animation-name: fadein;
    animation-name: fadeIn;
    -webkit-animation-duration: 500ms;
    -webkit-animation-fill-mode: both;
    -moz-animation-duration: 500ms;
    -moz-animation-fill-mode: both;
    -o-animation-duration: 500ms;
    -o-animation-fill-mode: both;
    animation-duration: 500ms;
    animation-fill-mode: both;
    -webkit-animation-delay: 125ms;
    -moz-animation-delay: 125ms;
    -o-animation-delay: 125ms;
    animation-delay: 125ms;
  }
}

@media screen and (min-width: 62em) {
  .test--csstransforms3d .section--in-view .feature__icon {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -o-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 750ms;
    -webkit-animation-fill-mode: both;
    -moz-animation-duration: 750ms;
    -moz-animation-fill-mode: both;
    -o-animation-duration: 750ms;
    -o-animation-fill-mode: both;
    animation-duration: 750ms;
    animation-fill-mode: both;
  }

  .test--csstransforms3d .section--in-view .feature--1 .feature__icon {
    -webkit-animation-delay: 1000ms;
    -moz-animation-delay: 1000ms;
    -o-animation-delay: 1000ms;
    animation-delay: 1000ms;
  }

  .test--csstransforms3d .section--in-view .feature--2 .feature__icon {
    -webkit-animation-delay: 2000ms;
    -moz-animation-delay: 2000ms;
    -o-animation-delay: 2000ms;
    animation-delay: 2000ms;
  }

  .test--csstransforms3d .section--in-view .feature--3 .feature__icon {
    -webkit-animation-delay: 3000ms;
    -moz-animation-delay: 3000ms;
    -o-animation-delay: 3000ms;
    animation-delay: 3000ms;
  }

  .test--csstransforms3d .section--in-view .feature--4 .feature__icon {
    -webkit-animation-delay: 4000ms;
    -moz-animation-delay: 4000ms;
    -o-animation-delay: 4000ms;
    animation-delay: 4000ms;
  }
}

@media screen and (min-width: 62em) {
  .test--csstransforms .listing__image img,
  .test--csstransforms .listing__container {
    opacity: 0;
  }

  .test--csstransforms .section--in-view .listing__image img,
  .test--csstransforms .section--in-view .listing__container {
    -webkit-animation-duration: 500ms;
    -webkit-animation-fill-mode: both;
    -moz-animation-duration: 500ms;
    -moz-animation-fill-mode: both;
    -o-animation-duration: 500ms;
    -o-animation-fill-mode: both;
    animation-duration: 500ms;
    animation-fill-mode: both;
  }

  .test--csstransforms .section--in-view .listing__image--left img,
  .test--csstransforms .section--in-view .listing__container--left {
    -webkit-animation-name: fadeinleft;
    -moz-animation-name: fadeinleft;
    -o-animation-name: fadeinleft;
    animation-name: fadeInLeft;
  }

  .test--csstransforms .section--in-view .listing__image--right img,
  .test--csstransforms .section--in-view .listing__container--right {
    -webkit-animation-name: fadeinright;
    -moz-animation-name: fadeinright;
    -o-animation-name: fadeinright;
    animation-name: fadeInRight;
  }

  .test--csstransforms .section--out-of-view .listing__image img,
  .test--csstransforms .section--out-of-view .listing__container {
    -webkit-animation-duration: 500ms;
    -webkit-animation-fill-mode: both;
    -moz-animation-duration: 500ms;
    -moz-animation-fill-mode: both;
    -o-animation-duration: 500ms;
    -o-animation-fill-mode: both;
    animation-duration: 500ms;
    animation-fill-mode: both;
  }

  .test--csstransforms .section--out-of-view .listing__image--left img,
  .test--csstransforms .section--out-of-view .listing__container--left {
    -webkit-animation-name: fadeoutleft;
    -moz-animation-name: fadeoutleft;
    -o-animation-name: fadeoutleft;
    animation-name: fadeOutLeft;
  }

  .test--csstransforms .section--out-of-view .listing__image--right img,
  .test--csstransforms .section--out-of-view .listing__container--right {
    -webkit-animation-name: fadeoutright;
    -moz-animation-name: fadeoutright;
    -o-animation-name: fadeoutright;
    animation-name: fadeOutRight;
  }
}

.article {
  position: relative;
  background-color: #fff;
}

.article--blog {
  margin-bottom: 1.5em;
}

.article__title {
  padding-bottom: 3em;
  line-height: 1.125;
  font-size: 1.25em;
}

.article__title a {
  color: #000;
}

.article__inner {
  padding: 1em;
}

.article__excerpt {
  margin: 0;
  font-size: 0.875em;
}

.article__meta {
  position: absolute;
  bottom: 0.5em;
  left: 1em;
}

@media screen and (min-width: 48em) {
  .article--list {
    width: calc(50% - 1.5em);
    margin-left: 0.7em;
    margin-right: 0.7em;
  }
}

@media screen and (min-width: 78em) {
  .article--list {
    width: calc(33.33333% - 1.5em);
    margin-left: 0.7em;
    margin-right: 0.7em;
  }
}

.article-list--page-1 .article--1 .article__title,
.article-list--page-0 .article--1 .article__title {
  padding-bottom: 0;
}

.article-list--page-1 .article--1 .article__inner,
.article-list--page-0 .article--1 .article__inner {
  padding-bottom: 2.5em;
}

@media screen and (min-width: 48em) {
  .article-list--page-1 .article--1,
  .article-list--page-0 .article--1 {
    width: calc(100% - 1.5em);
    display: table;
    background: white;
  }

  .article-list--page-1 .article--1 .article__image,
  .article-list--page-1 .article--1 .article__inner,
  .article-list--page-0 .article--1 .article__image,
  .article-list--page-0 .article--1 .article__inner {
    width: 50%;
    float: left;
  }

  .article-list--page-1 .article--1 .article__title,
  .article-list--page-0 .article--1 .article__title {
    font-size: 1.5em;
  }

  .article-list--page-1 .article--1 .article__excerpt,
  .article-list--page-0 .article--1 .article__excerpt {
    font-size: 1em;
  }
}

@media screen and (min-width: 62em) {
  .article-list--page-1 .article--1 .article__title,
  .article-list--page-0 .article--1 .article__title {
    font-size: 1.875em;
  }

  .article-list--page-1 .article--1 .article__meta,
  .article-list--page-0 .article--1 .article__meta {
    left: auto;
  }

  .article-list--page-1 .article--1 .article__inner,
  .article-list--page-0 .article--1 .article__inner {
    padding: 1.25em;
  }

  .article-list--page-1 .article--1 .article__excerpt,
  .article-list--page-0 .article--1 .article__excerpt {
    margin-top: 1em;
  }
}

@media screen and (min-width: 78em) {
  .article-list--page-1 .article--1 .article__title,
  .article-list--page-0 .article--1 .article__title {
    font-size: 2.25em;
  }
}

@media screen and (min-width: 48em) {
  .test--flexbox .article-list--page-1 .article--1,
  .test--flexbox .article-list--page-0 .article--1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 48em) {
  .article-list {
    display: table;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.article__author,
.article__date {
  margin-bottom: 0;
  font-weight: bold;
  line-height: 1.125;
  font-size: 0.875rem;
  display: inline-block;
}

.article__author {
  color: #252525;
  margin-left: 0.25em;
  padding-left: 0.5em;
  border-left: 1px solid #888;
}

.article__date {
  color: #888;
  letter-spacing: 0.125em;
}

.article--vacancy {
  background-color: transparent;
  margin-top: 2.5em;
  padding-top: 2.5em;
  border-top: 3px solid #e3e3e3;
}

.article--vacancy:first-child {
  margin-top: 0;
  padding-top: 0;
  border-top: 0;
}

.next-dates-modal {
  min-width: 37em;
}

.clickable {
  cursor: pointer;
}
