@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sin Permisos</title>
</head>
<body>
    <div>
        <img src="~/images/prohibido.png" style="margin-right:10px;" width="200" height="200" />
        <h2>Lo siento, no tiene permisos para acceder a ésta página.</h2>
    </div>
</body>
</html>