<div id="menulateral">

    <div id="menul">
        <nav>
            <br />
            <a href="~/Faq/Index">
                <img src="~/Images/faq.jpg" style="width: 146px;" alt="faq" /></a>
            <br />
            <ol class="round">
                <li class="one" style="height: 30px;">
                    <h4><a href="/home/">Inicio</a></h4>
                </li>

                <li class="two" style="height: 30px;">
                    <h4><a href="/Servicios/">Cartera de Servicios</a></h4>
                </li>

                <li class="three" style="height: 30px;">
                    <h4><a href="/Hospitales/">Hospitales</a></h4>
                </li>

                <li class="four" style="height: 30px;">
                    <h4><a href="/blog/">Blog de Pacientes</a></h4>
                </li>

                <li class="five" style="height: 30px;">
                    <h4><a href="/Articulos/">Articulos</a></h4>
                </li>

                <li class="six" style="height: 30px;">
                    <h4><a href="/Fotos/">Imagenes</a></h4>
                </li>

                <li class="seven" style="height: 30px;">
                    <h4><a href="/Videos/">Videos</a></h4>
                </li>

                <li class="eight" style="height: 30px;">
                    <h4><a href="/Documentos/">Documentos</a></h4>
                </li>

                <li class="nine" style="height: 30px;">
                    <h4><a href="/Contacto/">Contacto</a></h4>
                </li>

                @if (Request.IsAuthenticated)
                {
                    <li class="zero" style="height: 30px;">
                        <h4><a href="/Terminos/">Terminos</a></h4>
                    </li>
                }
            </ol>
        </nav>
    </div>

    <!-- pestana lateral -->
    <div class="tab" id="toggle">
        <br />
        <h4 style="font-size: small; color: white;">MENU</h4>
        <a id="open" class="open" href="#"></a>
        <a id="close" style="display: none;" class="close" href="#"></a>
    </div>
    <!-- / top -->
</div>