@model IEnumerable<UCEME.Models.PaginaAmiga>

@{
    ViewBag.Title = "Paginas Recomendadas";

}

<h2 class="titulo" style="width:auto;">Paginas Recomendadas por UCEME</h2>
<br />
<div id="dialogoEditar"></div>
<div id="dialogoCrear"></div>
@if (Request.IsAuthenticated)
{
    <div class="botones" style="float: right;">
        <input type="button" class="nuevo" name="addSer" onclick="paginaAmiga.anadir()" />
    </div>
    <br />
}

<div id="contenedor">
    @Html.DisplayFor(model => model)
</div>

@section scripts {
    <script src="~/Scripts/Internal/PaginaAmiga/Index.js"async></script>
}