@model IEnumerable<Uceme.Model.Models.ClasesVista.TerminoMinVista>

@{
    Layout = null;
    var iniciales = ViewBag.iniciales;
}

<div style="border-bottom-color: azure; border-top-color: azure; margin: 40px;" id="wrapper">
    <div style="display: none" id="hiddenLetters" data-iniciales="@Html.Raw(Json.Encode(@iniciales))"></div>
    <div style="border-bottom-color: azure; border-top-color: azure; margin: 40px;" id="iniciales">
        @foreach (var letra in ViewBag.abecedario)
        {
            <div id="@letra" style="color: #808080; margin: 9px; float: left; font-size: large;">@letra</div>

        }
    </div>
    <div style="clear: both;"></div>
    <div style="border-bottom-color: azure; border-top-color: azure; margin: 40px;" id="resultados">
        @Html.DisplayFor(model => model)
    </div>
</div>

<script src="~/Scripts/Internal/Terminos/Dicciopinta.js"async></script>
