@model IEnumerable<UCEME.Models.ClasesVista.MedicoVista>

@{
    ViewBag.Title = "Conocenos";
}

<h2 class="titulo">Conocenos</h2>

@Html.DisplayFor(model => model)
<br />
<br />

@section scripts {
    <script src="~/Scripts/Internal/Perfiles/Index.js"async></script>
}