@{
    ViewBag.Title = "Equipo de Desarrollo";
}

<div class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</div>

<div id="marco">
    <div style="float: left; width: 300px;">
        <div id="fotoj">
            <img src="~/Images/julio.jpg" style="width: 290px; height: 300px;" />
        </div>
        <article>
            <p style="font-size: large; font-weight: bolder; color: #780303">
                Julio Cejudo Tejero
            </p>
            <p style="font-size: medium; font-weight: bold; height: 25px;">
                Jefe de Proyecto - Analista
            </p>
            <p style="font-size: medium; font-weight: bold; height: 42px;">
                Desarrollo WEB - BBDD
            </p>
            <p>
                MCPD - Web Developer
            </p>

            <div style="width: 32px; height: 32px; float: left; margin-right: 10px;">
                <a href="http://goo.gl/VKi1Z" class="linkedin" target="_blank"></a>
            </div>

            <br />
            <br />
            <p>
                juliocejudo@outlook.com
            </p>
        </article>
    </div>
    <div style="float: left; width: 300px;">
        <div id="fotol">
            <img src="~/Images/laura.jpg" style="width: 290px; height: 300px;" />
        </div>
        <article>
            <p style="font-size: large; font-weight: bolder; color: #780303">
                Laura Monago Lopez
            </p>
            <p style="font-size: medium; font-weight: bold; height: 25px;">
                Analista Programador
            </p>
            <p style="font-size: medium; font-weight: bold; height: 42px;">
                Desarrollo WEB - BBDD
            </p>
            <p>
                MCPD - Web Developer
            </p>
            <div style="width: 32px; height: 32px; float: left; margin-right: 10px;">
                <a href="http://www.linkedin.com/pub/laura-monago/46/b58/66a" class="linkedin" target="_blank"></a>
            </div>

            <br />
            <br />

            <p>
                laura.monago@hotmail.com
            </p>
        </article>
    </div>
    <div style="float: left; width: 300px;">
        <div id="fotom">
            <img src="~/Images/manu.jpg" style="width: 290px; height: 300px;" />
        </div>
        <article>
            <p style="font-size: large; font-weight: bolder; width: 290px; color: #780303">
                Manuel Marquez Clavero
            </p>
            <p style="font-size: medium; font-weight: bold; height: 25px;">
                Dise&ntilde;o WEB
            </p>
            <p style="font-size: medium; font-weight: bold; height: 42px;">Dise&ntilde;o - Maquetacion - Responsiveness</p>
            <p>
                MCPD - Web Developer
            </p>
            <div style="width: 32px; height: 32px; float: left; margin-right: 10px;">
                <a href="http://www.linkedin.com/profile/view?id=116053910&authType=NAME_SEARCH&authToken=Op-s&locale=es_ES&srchid=a0e02891-64df-4159-a693-ca8c75d6cca8-0&srchindex=1&srchtotal=42&goback=%2Efps_PBCK_*1_Manuel_Marquez_*1_*1_*1_*1_*2_*1_Y_*1_*1_*1_false_1_R_*1_*51_*1_*51_true_*1_es%3A5113_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2&pvs=ps&trk=pp_profile_name_link" class="linkedin" target="_blank"></a>
            </div>

            <br />
            <br />
            <p>
                <a href="mailto:marquezclavero@gmailcom?subject=Diseño-UCEME">e-mail</a> &nbsp;&nbsp;<a href="http://www.flickr.com/photos/voncalavero">Flickr</a>
            </p>
        </article>
    </div>
    <br /><br />
</div>