@model IEnumerable<UCEME.Models.ClasesVista.MedicoMinVista>

@{
    ViewBag.Title = "UCEME";
}

<div class="row">
    <div class="col-md-6">
        <div class="cont">
            <div id="slide" class="sombra featured">
                <div id="slider">
                    <img class="img-responsive" src="~/images/operando.jpg" alt="tecnicas" />
                </div>

                <div id="textopr" class="content-wrapper cajablanca">
                    <div class="title">
                        <h1><span itemprop="name">UCEME.</span></h1>
                        <h2>@ViewBag.Message</h2>
                    </div>

                    <p style="text-align: justify;">
                        En las últimas décadas, los avances en el campo de la Cirugía han sido muy importantes. El volumen de conocimientos necesario para ser experto en un área concreta es cada día más notable. Por otro lado, el papel de la tecnología es progresivamente más relevante, lo que nos permite ofrecer mayor seguridad a nuestros pacientes.<br />
                        <br />
                        Con el objetivo de formar un Equipo de excelencia, altamente especializado en el área de la Cirugía Endocrina y en el tratamiento de la Obesidad, surgió este grupo de Cirujanos que forma la Unidad de Cirugía Endocrino-Metabólica Especializada (UCEME Madrid). En UCEME ponemos al servicio de profesionales y pacientes la experiencia acumulada durante años de trabajo.<br />
                        <br />
                        Hemos tratado de aunar los mejores conocimientos adquiridos con la experiencia, con la seguridad que nos proporciona la tecnología actual: dispositivos modernos de coagulación que minimizan la pérdida hemática, empleo de la cirugía laparoscópica como herramienta de escasa agresión y alta resolución, monitorización nerviosa intraoperatoria para minimizar el riesgo de los nervios laríngeos, etc.<br />

                        <br />
                        Con todo ello, y contando con un gran grupo de profesionales de distintas especialidades, ofrecemos una medicina de calidad y seguridad que proporciona una cobertura completa y satisfactoria en todos los aspectos relacionados con nuestro campo de actuación: Cirugía de las glándulas tiroides, paratiroides y suprarrenales, así como un tratamiento personalizado de la obesidad.<br />
                    </p>
                    <p style="font-size: small; color: grey; text-align: justify;">
                        Ofrecemos un trato personalizado en enfermedades de tiroides, paratiroides, glándula suprarrenal y obesidad mórbida
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="citaprevia">
            <a class="nounderline" href="~/Citas/">
                <img src="~/Images/citapreviachica.jpg" class="icalimg" alt="cita" />
                <p class="cita" style="padding-top:25px">
                    <span class="h4 rojito">Cita Previa Online</span><br />
                    <span class="h5">Reserve cita en cualquiera de nuestras clinicas con un solo click.</span>
                    <br />
                </p>
            </a>
            <div style="clear: both;"></div>
        </div>

        <div id="tecnicasCon">
            <div class="tecnicasexclusivas" style="padding-top:15px">
                <a class="nounderline whitetext" href="~/Tecnicas/">
                    <img id="quiro" class="col-md-12 col-xs-12" src="~/Images/TEC.jpg" alt="tecnicas" />
                    <p class="col-md-12 col-xs-12">
                        <span class="h4 rojito">Innovaciones Tecnicas</span><br />
                        <span class="h5">Conozca las tecnicas que aplicamos para cuidarle como paciente.</span>
                        <br />
                    </p>
                </a>
                <div style="clear: both;"></div>
            </div>
            <div id="equipo">
                <h3 class="htres">Nuestro equipo lo forman:</h3>

                @Html.DisplayFor(model => model)
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript" src="~/Scripts/Internal/Home/Index.js" async></script>
}