@model Uceme.Model.Models.ClasesVista.CompaniasVista

@{
    Layout = null;
    var imagen = "nada";
    if (!string.IsNullOrEmpty(Model.Foto))
    {
        var srt = Model.Foto;
        imagen = Url.Content(srt);
    }
}

<div class="compania" style="float:left;margin:15px;" id="@Model.IdCompanias">
    <a href="@Model.Link" target="_blank">
        <img src="@imagen" style="width:120px;height:55px;border:1px solid #808080;" alt="@Model.Nombre" />
    </a>

    @if (Request.IsAuthenticated)
    {
        <div class="botones">
            <input type="button" name="editarCompania" class="editar" value=" " />
        </div>
    }
</div>