@model IEnumerable<Uceme.Model.Models.ClasesVista.FotosVista>

@{
    Layout=null;
}

<div id="photo" class="slider">
    @foreach (var item in Model)
    {
        <img src="@Url.Content(item.Nombre)" style="width:500px;height:284px;" />
    }
</div>

<script type="text/javascript" src = "~/Scripts/Internal/Home/mostrarFotos.js"async></script>
