@model bool

@{
    ViewBag.Title = "Enviar";
}

<div style="width: 60%; padding: 100px;">

    @if (Model)
    {
        <h2 class="titulo">Su email ha sido enviado con éxito. </h2>
    }
    else
    {
        <h2 class="titulo">Ha ocurrido un error al enviar el correo. Por favor inténtelo más tarde. </h2>
    }

    <div class="botones">
        <input type="button" class="aceptar" onclick="refrescar('home')"/>
    </div>
</div>
